:root {
  --app-header-height: 88px;

  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  textarea:-webkit-autofill,
  textarea:-webkit-autofill:hover,
  textarea:-webkit-autofill:focus,
  select:-webkit-autofill,
  select:-webkit-autofill:hover,
  select:-webkit-autofill:focus {
    -webkit-text-fill-color: var(--colorBlack);
    -webkit-box-shadow: 0 0 0px 1000px transparent inset;
    transition: background-color 5000s ease-in-out 0s;
    caret-color: var(--colorBlack);
  }

  .theme-color {
    color: var(--colorPrimaryLight);
  }

  .error-color {
    color: var(--colorError);
  }

  .primary-color {
    color: var(--colorPrimary);
  }

  .secondary-color {
    color: var(--colorSecondary);
  }

  .success-color {
    color: var(--colorSuccess);
  }

  .white-color {
    color: var(--colorWhite);
  }

  .black-color {
    color: var(--colorBlack);
  }

  .main-content {
    min-height: 80vh;
    padding: calc(var(--app-header-height) + 8px) 0 0;
  }

  .ant-collapse-header-text,
  .ant-select-selection-item {
    display: flex;
    align-items: center;
  }

  .ant-select-selection-item {
    img {
      vertical-align: middle;
    }
  }

  .ant-drawer {
    .ant-drawer-close {
      z-index: 1;
      padding: 10px;
      position: absolute;
      top: 0;
      right: 0;
      color: var(--colorBlack);
    }

    .ant-drawer-header {
      padding: 15px 20px 5px;
    }
  }

  .ant-form-item-explain {
    color: var(--colorDarkGrey);
    text-align: center;
    font-size: 10px;
    word-break: break-word;
  }

  .main-container {
    margin: auto;
    max-width: 1080px;

    &.user-account {
      padding: 20px 5px;
    }


    @media screen and (max-width: 550px) {
      padding: 0 10px;
    }
  }

  .ant-pagination {
    margin: 10px 0;

    .ant-pagination-disabled .ant-pagination-item-link,
    .ant-pagination-disabled:hover .ant-pagination-item-link {
      color: var(--colorBlack);
    }

    .ant-pagination-item {
      color: var(--colorBlack);

      &.ant-pagination-item-active {
        background-color: transparent;
      }

      a {
        color: var(--colorBlack);
      }
    }

    .ant-pagination-prev .ant-pagination-item-link,
    .ant-pagination-next .ant-pagination-item-link {
      color: var(--colorBlack);
    }
  }

  .ant-menu {
    background-color: var(--colorPrimary);
    color: var(--colorWhite);
  }

  .ant-menu-submenu-popup>.ant-menu {
    background-color: var(--colorPrimary);
    color: var(--colorWhite);

    a {
      color: var(--colorWhite);
    }
  }

  .ant-picker.ant-picker-range {
    height: 32px;
    padding: 0 10px;
  }

  .text-center {
    text-align: center;
  }

  .text-left {
    text-align: left;
  }

  .__se__float-center {
    display: flex;
    justify-content: center;
  }

  .ant-row {

    .ant-col {
      padding: 7px;
    }

    &.ant-form-item {
      margin-left: unset;
      margin-right: unset;
    }
  }

  .ant-table {
    border-radius: 0;
    overflow: auto;

    table {
      border: 1px solid #dee2e6;
      border-radius: 0;
    }
  }

  .ant-table-tbody>tr>td,
  .ant-table-thead>tr>th {
    padding: 10px 5px;
    border: 1px solid #dee2e6;

    &::before {
      display: none;
    }
  }

  .ant-table-container table>thead>tr:first-child th:first-child {
    border-top-left-radius: 0;
  }

  .ant-table-container table>thead>tr:last-child th:last-child {
    border-top-right-radius: 0;
  }

  .ant-table tfoot>tr>th,
  .ant-table tfoot>tr>td {
    padding: 10px 5px;
  }

  .ant-table-thead>tr>th,
  .ant-table-tbody>tr>td,
  .ant-table tfoot>tr>th,
  .ant-table tfoot>tr>td {
    background-color: var(--colorWhite);
  }

  .ant-table-thead>tr>th {
    white-space: nowrap;
  }

  .table-responsive {
    overflow-x: auto;
  }

  .ant-form {
    .ant-form-item {
      color: var(--colorBlack);
      margin-bottom: 5px;

      textarea.ant-input {
        min-height: 40px;
      }

      .ant-form-item-label {
        padding: 0 5px;

        label {
          font-size: 13px;
          height: auto;
        }
      }

      .ant-input-password {
        padding: 0 11px;
        background-color: transparent;
        color: var(--colorBlack);
      }

      .ant-input,
      .ant-input-number,
      .ant-select-selector,
      .ant-picker,
      .ant-select-single:not(.ant-select-customize-input) .ant-select-selector {
        min-height: 40px;
        background: transparent;
        color: var(--colorBlack);

        &::placeholder {
          color: var(--colorBlack);
        }

        .ant-select-selection-item {
          line-height: 3;
        }

        .ant-input-number-input-wrap input {
          min-height: 38px;
        }
      }

      .ant-select-multiple .ant-select-selector .ant-select-selection-item {
        line-height: normal;
        height: auto;
      }

      .ant-form-item-has-error :not(.ant-input-disabled).ant-input,
      .ant-form-item-has-error :not(.ant-input-affix-wrapper-disabled).ant-input-affix-wrapper,
      .ant-form-item-has-error :not(.ant-input-disabled).ant-input:hover,
      .ant-form-item-has-error :not(.ant-input-affix-wrapper-disabled).ant-input-affix-wrapper:hover {
        box-shadow: none;
      }

      .ant-input-outlined.ant-input-status-error:not(.ant-input-disabled) {
        background: transparent;
      }

      .ant-input-outlined {

        &:hover,
        &:focus {
          background-color: transparent;
        }
      }
    }
  }

  .ant-tabs {
    .ant-tabs-tab {
      font-weight: 600;
      font-size: 16px;
      color: var(--colorBlack);
      padding: 5px 15px;
    }

    .ant-tabs-tab-active {
      .ant-tabs-tab-btn {
        color: var(--colorPrimary);
      }
    }

    .ant-tabs-ink-bar {
      background: var(--colorPrimary);
    }
  }


  .ant-btn.primary {
    background-image: linear-gradient(0deg, var(--colorPrimaryLight), var(--colorPrimary));
    color: #fff;
    -webkit-box-shadow: 0 5px 10px rgba(50, 50, 50, 0.2);
    box-shadow: 0 5px 10px rgba(50, 50, 50, 0.2);
    padding: 0.7em 2em;
    font-size: 0.9em;
    font-weight: 600;
    border-radius: 0.5em;
    min-height: 40px;
    height: auto;
    border: 0;
  }

  .ant-btn.success {
    background-color: var(--colorSuccess);
    color: #fff;
    -webkit-box-shadow: 0 5px 10px rgba(50, 50, 50, 0.2);
    box-shadow: 0 5px 10px rgba(50, 50, 50, 0.2);
    padding: 0.7em 2em;
    font-size: 0.9em;
    font-weight: 600;
    border-radius: 0.5em;
    min-height: 40px;
    height: auto;
  }

  .ant-btn.error {
    background-color: var(--colorError);
    color: #fff;
    -webkit-box-shadow: 0 5px 10px rgba(50, 50, 50, 0.2);
    box-shadow: 0 5px 10px rgba(50, 50, 50, 0.2);
    padding: 0.7em 2em;
    font-size: 0.9em;
    font-weight: 600;
    border-radius: 0.5em;
    min-height: 40px;
    height: auto;
  }

  .ant-btn.secondary {
    background: var(--colorSecondary);
    border-color: var(--colorSecondary);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
    // padding: 0.7em 2em;
    font-size: 0.9em;
    font-weight: 600;
    border-radius: 0.5em;
    min-height: 40px;
    height: auto;
    color: #fff;
  }

  .ant-btn.info {
    border: none;
    color: #fff;
    padding: 0px 8px;
    min-height: 30px;
    height: auto;
    background-color: var(--colorInfo);
    margin-right: 5px;
  }

  .ant-btn.danger {
    border: none;
    color: #fff;
    padding: 0px 8px;
    min-height: 30px;
    height: auto;
    background-color: var(--colorError);
    margin-right: 5px;
  }

  .cover-upload {
    float: right;
    margin-top: 5px;

    .ant-upload-wrapper.ant-upload-picture-card-wrapper {
      .ant-upload.ant-upload-select {
        border-radius: 3px;
        border: 0;
        padding: 2px;
        background-image: url('/placeholder-image.jpg');
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        width: auto;
        height: auto;
        padding: 5px 15px;

        .ant-upload {
          color: #fff;

          img {
            width: 100%;
            height: 100%;
            border-radius: 50%;
            object-fit: cover;
          }
        }
      }
    }
  }

  .avatar-uploader.ant-upload-wrapper {
    display: block;
    text-align: center;

    .ant-upload-select {
      border: 2px dashed var(--colorPrimary);
      padding: 2px;
      border-radius: 50% !important;
      margin: auto;
      background-image: url('/placeholder-image.jpg');
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;

      .ant-upload {
        position: relative;

        img {
          width: 100%;
          height: 100%;
          border-radius: 50%;
          object-fit: cover;
        }

        .anticon {
          font-size: 18px;
          padding: 8px;
          background-color: var(--colorPrimaryLight);
          color: #fff;
          border-radius: 50%;
          position: absolute;
          bottom: 15px;
          right: -5px;
        }
      }
    }
  }

  .page-not-found {
    min-height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
  }

  .ant-image-mask {
    .ant-image-mask-info {
      display: none;
    }
  }

  .ant-image-preview-root {
    .ant-image-preview-mask {
      background-color: var(--colorWhite);
    }

    .ant-image-preview-operations {
      background-color: rgba(1, 1, 1, 0.3);
    }

  }

  .ant-popover {
    .ant-popover-inner-content {
      padding: 0;
    }
  }

  .emoji-mart {
    .emoji-mart-preview-emoji {
      left: 5px;
    }

    .emoji-mart-preview-data {
      left: 55px;
      right: 25px;

      .emoji-mart-title-label {
        font-size: 14px;
        word-break: break-word;
      }
    }

    .emoji-mart-preview-skins {
      right: 10px;
    }
  }

  .heading-tab {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;

    h4 {
      white-space: nowrap;
      font-size: 20px;
      color: var(--colorBlack);
    }
  }

  .ant-modal-footer .ant-btn+.ant-btn:not(.ant-dropdown-trigger) {
    margin-left: 0;
  }

  .hidden {
    visibility: hidden;
  }

  .ant-descriptions-item-container .ant-descriptions-item-label,
  .ant-descriptions-item-container .ant-descriptions-item-content {
    align-items: center;
  }

  .ant-descriptions .ant-descriptions-item-label {
    color: inherit;
  }

  .subscription-btn-grp {
    max-width: 400px;
    margin: 15px auto;
    text-align: center;
    padding: 0 5px;

    .ant-btn {
      width: 100%;
      margin: 5px 0;
      border: 0;
    }
  }

  .skeleton-loading {
    animation: skeleton-loading 1s linear infinite alternate;
    max-width: 100%;
    border-radius: 5px;
  }

  .confirm-purchase-form {
    padding: 25px 25px 10px;
    display: flex;

    .left-col {
      width: 35%;
      display: inline-flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      .ant-avatar {
        width: 120px;
        height: 120px;
        border: 2px solid var(--colorPrimary);
      }

      .p-name {
        margin-top: 10px;
        font-size: 16px;
        text-transform: capitalize;
      }

      .p-username {
        color: var(--colorPrimary);
        margin-bottom: 20px;
      }

      .lock-icon {
        height: 60px;
        width: auto;
      }
    }

    .right-col {
      width: 65%;

      h2 {
        text-align: center;
        font-weight: 600;
        margin: 0;

        .username {
          color: var(--colorPrimary);
        }
      }

      h3 {
        text-align: center;
        font-weight: 600;

        .price {
          color: var(--colorPrimary);
          font-size: 20px;
        }
      }

      ul.check-list {
        padding: 0;
        text-align: left;

        li {
          font-size: 14px;
          padding: 5px 0;

          .anticon {
            font-size: 18px;
            color: var(--colorPrimary);
            margin-right: 10px;
          }
        }
      }

      .description {
        height: 100px;
        overflow: auto;
        margin-bottom: 25px;
      }

      .ant-btn.primary {
        width: 100%;
        border-radius: 25px;
      }

      .sub-text {
        margin-top: 15px;
      }

      .tip-grps {
        text-align: center;

        .ant-btn {
          margin: 2px;
          color: var(--colorBlack);
          background-color: var(--colorWhite);
          min-width: 102px;
          height: 40px;
          border-radius: 20px;
          font-weight: 600;

          &.ant-btn-primary {
            color: var(--colorWhite);
            background-color: var(--colorPrimary);
          }
        }
      }

      .tip-input {
        margin: 15px 0;
        text-align: center;

        p {
          margin: 0;
        }

        .ant-input-number {
          width: 100%;
          height: 40px;
          border-radius: 20px;

          input {
            height: 40px;
          }
        }
      }
    }

    @media screen and (max-width: 550px) {
      flex-direction: column;

      .left-col,
      .right-col {
        width: 100%;
        padding: 10px 0;
      }
    }
  }

  .ant-input-number-out-of-range .ant-input-number-input-wrap input {
    color: rgba(0, 0, 0, 0.88);
  }

  .ant-select-single {
    height: auto;
  }

  .ant-table-wrapper .ant-table-cell,
  .ant-table-wrapper .ant-table-thead>tr>th,
  .ant-table-wrapper .ant-table-tbody>tr>th,
  .ant-table-wrapper .ant-table-tbody>tr>td,
  .ant-table-wrapper tfoot>tr>th,
  .ant-table-wrapper tfoot>tr>td {
    padding: 10px 5px;
  }

  .ant-table-wrapper .ant-table-thead>tr>th,
  .ant-table-wrapper .ant-table-thead>tr>td {
    font-weight: normal;

    &.ant-table-column-sort {
      background: var(--colorLightGrey)
    }
  }

  .ant-table-wrapper .ant-table-column-sorter {
    color: var(--colorBlack)
  }

  .ant-select-dropdown {
    background-color: var(--colorWhite);
    color: var(--colorBlack);

    .ant-select-item {
      color: var(--colorBlack);

      &.ant-select-item-option-selected,
      &.ant-select-item-option:hover {
        background-color: var(--colorLightGrey);
        color: var(--colorBlack);
      }
    }

    .ant-select-item-option-content img {
      @media screen and (max-width: 550px) {
        display: none;
      }
    }
  }

  .ant-dropdown .ant-dropdown-menu .ant-dropdown-menu-item,
  .ant-dropdown-menu-submenu .ant-dropdown-menu .ant-dropdown-menu-item,
  .ant-dropdown .ant-dropdown-menu .ant-dropdown-menu-submenu-title,
  .ant-dropdown-menu-submenu .ant-dropdown-menu .ant-dropdown-menu-submenu-title {
    color: var(--colorBlack);
  }

  .show-mobile {
    display: none;
  }

  #home-footer {
    font-size: 11px;
  }

  .related-items {
    margin: 30px 0;

    .ant-row {
      margin: 0 -5px;
    }
  }

  .ant-modal {
    color: var(--colorBlack);

    .ant-modal-footer {
      display: flex;
      justify-content: center;
      gap: 10px;
      text-align: center;
      border: 0;
      margin-top: 20px;
    }

    .ant-modal-title {
      font-size: 18px;
    }
  }

  .modal-bottom {
    .ant-collapse-header {
      display: none;
    }

    .ant-descriptions-row {
      display: block;

      .ant-descriptions-item {
        display: block;
      }
    }

    @media screen and (max-width: 550px) {
      bottom: 0;
      top: auto;
      transform: none;
      position: absolute;
      left: 0;
      margin: 0;
      padding-bottom: 0;
      max-width: 100%;

      .ant-modal-content {
        border-radius: 10px 10px 0 0;
        padding: 10px;

        .ant-modal-header {
          background-color: transparent;
          border: 0;

          .ant-modal-title {
            text-align: center;
          }

        }
      }

      .ant-modal-close .ant-modal-close-x {
        background-color: transparent;
        color: #999;
      }

      .ant-modal-body {
        padding: 0 10px 10px 10px;

        .content-body-model {
          background-color: var(--colorWhite);
          border-radius: 5px;
          padding: 15px;
          max-height: calc(100vh - 100px);
          overflow: auto;
        }

        .ant-input-number {
          background-color: transparent;
          border-color: #666;
        }
      }
    }
  }

  .ant-table-container table>thead>tr:first-child>*:first-child {
    border-start-start-radius: 0;
  }

  .ant-table-container table>thead>tr:first-child>*:last-child {
    border-start-end-radius: 0;
  }

  .ant-select .ant-select-clear {
    background-color: transparent;
  }

  .ant-input-affix-wrapper {
    background-color: transparent;
    color: var(--colorBlack);
  }

  .ant-tabs-top>.ant-tabs-nav::before {
    border-color: var(--colorLightGrey);
  }

  .ant-divider-horizontal {

    &::before,
    &::after {
      background: #ddd;
    }
  }

  .ant-btn-link {
    color: var(--colorPrimary);
  }

  .ant-input-textarea-show-count .ant-input-data-count {
    color: var(--colorBlack);
    font-size: 11px;
  }

  .ant-btn-default:not(:disabled):not(.ant-btn-disabled):hover {
    background: unset;
  }

  .ant-progress {
    .ant-progress-inner {
      background-color: var(--colorLightGrey);
    }

    .ant-progress-text {
      color: var(--colorBlack);
    }
  }

  .ant-statistic .ant-statistic-content {
    color: var(--colorBlack);
  }
}
