.btn-primary {
  background-image: linear-gradient(0deg, #1ea2f1, #00aff0);
  color: #fff;
  box-shadow: 0 5px 10px rgba(50, 50, 50, 0.2);
  padding: 0.7em 2em;
  font-size: 0.9em;
  font-weight: 600;
  border-radius: 0.5em;
  min-height: 40px;
  height: auto;

  // &:hover {
  //   span {
  //     color: #fff !important;
  //   }
  // }
}