.google-button.btn-login {
  height: 48px;
  background-color: var(--colorError);
  color: #fff;
  padding: 5px 12px;
  border-radius: 25px;
  width: 100%;
  font-weight: 600;

  img {
    height: 18px;
    width: auto;
    margin-right: 5px;
  }

  :global .anticon {
    font-size: 18px;
    margin-right: 5px;
  }
}

.btn-google-login-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  :global .ant-typography {
    font-size: 12px;
  }
  .btn-google-login {
    display: flex;
    justify-content: center;
  }
}
