.twitter-button.btn-login {
  background-color: var(--colorInfo);
  color: #fff;
  padding: 5px 12px;
  border-radius: 25px;
  width: 100%;
  height: 48px;
  font-weight: 600;

  img {
    height: 18px;
    width: auto;
    margin-right: 5px;
    margin-bottom: -4px;
  }
  :global .anticon {
    font-size: 18px;
    margin-right: 5px;
  }
}